<!DOCTYPE html>
<!--suppress RequiredAttributes -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${foundUser.getUsername()}"></title>
</head>
<body>
<div th:unless="${(foundUser.getProfilePhoto() == null)}">
    <a th:href="${foundUser.getProfilePhoto()}">
        <img th:src="${foundUser.getProfilePhoto()}" height="100" alt="">
    </a>
</div>
<p th:text="${foundUser.getId()} + ' ' + ${foundUser.getUsername()}"></p>
<p th:text="${foundUser.getAbout() == null} ? 'No bio yet' : 'Bio: ' + ${foundUser.getAbout()}"></p>
<p th:text="'Created at: ' + ${foundUser.getCreatedAt().toLocalDate()}"></p>
<!--<p th:text="'Last activity: ' + 'Under development'"></p> TODO-->
<br>
<a th:href="@{{credentials}/subscribers(credentials=${foundUser.getUsername()})}">
    <p th:text="${foundUser.getSubscribers().size()} + ' subscribers'"></p></a>
<a th:href="@{{credentials}/subscribed(credentials=${foundUser.getUsername()})}">
    <p th:text="${foundUser.getSubscribedTo().size()} + ' subscribed'"></p></a>

<div th:unless="${currentUser == null}">
    <div th:unless="${currentUser.getBlockedUsers().contains(foundUser)}">
        <a th:href="@{{credentials}/to-friends(credentials=${foundUser.getUsername()})}">
            <p th:text="${currentUser.getSubscribedTo().contains(foundUser)} ? 'UnSubscribe' : 'Subscribe'"></p>
        </a>
    </div>
    <a th:href="@{{credentials}/block(credentials=${foundUser.getUsername()})}">
        <p th:text="${currentUser.getBlockedUsers().contains(foundUser)} ? 'Unblock' : 'Block'"></p>
    </a>
</div>
<hr>
<div th:each="post : ${foundUser.getPosts()}">
    <a th:href="@{/post/{id}(id=${post.getId()})}">
        <p th:text="${post.getTitle()}"></p>
        <div th:unless="${(post.getImage() == null)}">
            <img th:src="${post.getImage()}" alt="no" height="500" th:maxlength="1000">
        </div>
        <p th:text="${post.getText()}"></p>
    </a>
    <!--    TODO: make fast actions here like/dislike/comment/save-->
    <hr>
</div>

</body>
</html>