<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<header>
<!--    Menu here-->
</header>
<body>

<form th:method="POST" th:action="@{/register}" th:object="${registrationRequest}">
    <label for="username">Ведіть Username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <br>
    <label for="email">Enter e-mail:</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <br>
    <label for="password">Enter Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <input type="submit" value="Register">
</form>

</body>
</html>