<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New post</title>
</head>
<body>
<form th:method="POST" th:action="@{/post/new}" th:object="${postRequest}">
    <p>Create Post:</p>
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title">
    <br>
    <label for="imageUrl">Enter imageUrl: </label>
    <input type="text" th:field="*{image}" id="imageUrl">
    <br>
    <label for="text">Enter text: </label>
    <input type="text" th:field="*{text}" id="text">
    <br>
    <input type="submit" value="Post">
</form>
</body>
</html>